.contact-section{
    height: 200vh;
    width: 100vw;
    display: flex;
    .aesthetics{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colorTeal;
        .aesthetics-images{
            height: 80%;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            a:nth-of-type(1){
                height: 25%;
                width: 120%;
                transform: rotate(10deg);
                -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                h1{
                    position: absolute;
                    top: 2%;
                    left: 2%;
                    font-family: $fancifulCursive;
                    color: $colorWhite;
                    font-size: 2.5vw;
                    opacity:0;
                }
                img{
                    height: 100%;
                    width:100%;
                }
               &:hover{
                   z-index: 100;
                   border: 10px solid $colorTeal;
                   h1{
                       opacity: 1;
                   }
               }
            }
            a:nth-of-type(2){
                height: 25%;
                width: 100%;
                transform: rotate(320deg);
                -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                h1{
                    position: absolute;
                    top: 2%;
                    right: 2%;
                    font-family: $fancifulCursive;
                    color: $colorWhite;
                    font-size: 2.5vw;
                    opacity:0;
                }
                img{
                    height: 100%;
                    width:100%;
                }
               &:hover{
                   z-index: 100;
                   border: 10px solid $colorTeal;
                   h1{
                    opacity: 1;
                }
            }
        }
            a:nth-of-type(3){
                height: 15%;
                width: 90%;
                -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                position: relative;
                h1{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-family: $fancifulCursive;
                    color: $colorWhite;
                    font-size: 1.5vw;
                    opacity:0;
                }
                img{
                    height: 100%;
                    width:100%;
                }
               &:hover{
                   z-index: 100;
                   border: 10px solid $colorTeal;
                   h1{
                       opacity: 1;
                   }
               }
            }
            a:nth-of-type(4){
                height: 20%;
                width: 120%;
                transform: rotate(30deg);
                -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                h1{
                    position: absolute;
                    bottom: 2%;
                    right: 2%;
                    font-family: $fancifulCursive;
                    color: $colorWhite;
                    font-size: 2.5vw;
                    opacity:0;
                }
                img{
                    height: 100%;
                    width:100%;
                }
               &:hover{
                   z-index: 100;
                   border: 10px solid $colorTeal;
                   h1{
                       opacity: 1;
                   }
               }
            }
            a:nth-of-type(5){
                height: 30%;
                width: 100%;
                transform: rotate(5deg);
                -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                box-shadow: 10px 10px 42px 0px rgba(0,0,0,1);
                h1{
                    position: absolute;
                    bottom: 2%;
                    left: 2%;
                    font-family: $fancifulCursive;
                    color: $colorWhite;
                    font-size: 2.5vw;
                    opacity:0;
                }
                img{
                    height: 100%;
                    width:100%;
                }
               &:hover{
                   z-index: 100;
                   border: 10px solid $colorTeal;
                   h1{
                       opacity: 1;
                   }
               }
            }
        }
    }
    .info-elements{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color:$colorBlack;
        .contact{
            height: 20%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $fancifulCursive2;
            color: $colorWhite;
            a{
                font-size: 1.2vw;
                color: $colorWhite;
            }
        }
        .info{
            height: 50%;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .first-div{
                height: 30%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border: 15px solid $colorTeal;
                border-radius: 15px;
                p{
                    font-family: $fancifulCursive2;
                    font-size: 1.5vw;
                    color: $colorWhite;
                }
                h1{
                    font-family: $fancifulCursive2;
                    font-size: 1vw;
                    color: $colorWhite;
                    span{
                        font-family: $fancifulCursive;
                        color: $colorRed;
                    }
                }
            }
            .second-div{
                height: 60%;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                border: 15px solid $colorTeal;
                border-radius: 15px;
                color: $colorWhite;
                .map{
                    height: 100%;
                    width: 100%;
                    iframe{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .adress{
            height: 10%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $fancifulCursive2;
            font-size: 1.5vw;
            color: $colorWhite;
        }
        .social-media{
            height: 5%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $fancifulCursive2;
            font-size: 1.3vw;
            color: $colorWhite;
        }
    }
}
