$colorTeal:rgb(4, 98, 110);
$colorLightTeal:rgb(81, 194, 194);
$colorRed:rgb(168, 27, 27);
$colorLightRed:rgb(255, 98, 98);
$colorWhite:ghostwhite;
$colorBlack:black;
$colorOrange:rgb(231, 125, 86);
$colorOrangeDark:rgb(255, 69, 0);
$colorPink: rgb(235, 5, 128);
$colorLightPink: rgb(231, 118, 178);
$colorYellow: rgb(241, 202, 29);
$colorLightYellow: rgb(246, 222, 111);
$colorGrey:rgb(112,128,144);
$colorLightGrey:rgb(194, 204, 211);
$colorGold:rgb(221, 167, 29);
$colorDarkGold:rgb(134, 99, 12);
$colorBlue:rgb(23, 100, 177);
$colorLightBlue: rgb(153, 204, 255);
$colorBrown:rgb(77, 38, 0);
$colorLightBrown:rgb(153, 77, 0);
$colorGreen:rgb(0, 107, 0);
$colorLightGreen:rgb(139, 218, 139);

$fancifulCursive:'Bangers', cursive;
$fancifulCursive2:'Shadows Into Light', cursive;



